{% extends 'base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block header %}Авторизация{% endblock %}

{% block content %}
    {{ form_start(form, {
            attr: { class: 'w-50 mx-auto' },
    })}}
        {% if error ?? false %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        {{ form_row(form.username, {
            row_attr: { class: 'input-group' },
            label: 'Логин',
            label_attr: { class: 'col-3' },
        })}}
        {{ form_row(form.password, {
            row_attr: { class: 'input-group' },
            label: 'Пароль',
            label_attr: { class: 'col-3' },
        })}}
        {{ form_row(form.submit, {
                label: 'Войти',
                row_attr: { class: 'mt-2' },
        })}}
    {{ form_end(form) }}
{% endblock %}
