{% extends 'base.html.twig' %}

{% block title %}Просмотр записей{% endblock %}

{% block header %}Просмотр записей{% endblock %}

{% block content %}
    {% if is_granted('ROLE_ADD') %}
        <div>
            <a href="{{ path('edit_data') }}" class="btn-success btn mb-2">Добавить</a>
        </div>
    {% endif %}

    <table class="table table-striped table-hover table-bordered align-middle table-responsive table-sm">
        <thead class="table-secondary align-middle">
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Обо мне</th>
                <th>Опыт работы</th>
                <th>Желаемая заработная плата</th>
                <th>Дата рождения</th>
                <th>Дата отправки резюме</th>
                <th>Выбранный город трудоустройства</th>
                <th>Выбранная вакансия</th>
                <th>Аватар</th>
                <th>Файл резюме</th>
                <th colspan="2">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% if resumes|length != 0 %}
                {% for resume in resumes %}
                    <tr>
                        <td>{{ resume.id }}</td>
                        <td>{{ resume.getFullName() }}</td>
                        <td>{{ (resume.getAbout() ?? '') == '' ? 'Нет информации' : resume.getAbout() }}</td>
                        <td>{{ resume.getWorkExperience() }}</td>
                        <td>{{ resume.getDesiredSalary() }}</td>
                        <td>{{ resume.getBirthDate().format('d.m.Y') }}</td>
                        <td>{{ resume.getSendingDatetime().format('d.m.Y H:i:s') }}</td>
                        <td>{{ resume.getCityToWorkIn().getName() }}</td>
                        <td>{{ resume.getDesiredVacancy().getName() }}</td>
                        <td>
                            {% if resume.getAvatar() %}
                                <img src="data:image/jpeg;base64,{{ resume.getAvatar() }}" class="avatar" alt="&nbsp;Ошибка при загрузке картинки" />
                            {% else %}
                                Не установлен
                            {% endif %}
                        </td>
                        <td>
                            {% if resume.getFile() %}
                                <a href="{{ path('download_file', { id: resume.id }) }}" target="_blank" class="btn-secondary btn">Скачать</a>
                            {% else %}
                                Не прикреплён
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_EDIT') %}
                                <a href="{{ path('edit_data', { id: resume.id }) }}" class="btn-warning btn">Изменить</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_DELETE') %}
                                <a href="{{ path('delete_data', { id: resume.id }) }}" class="btn-danger btn">Удалить</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="13">Нет резюме!</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
