{% extends 'base.html.twig' %}

{% block title %}Заголовок страницы{% endblock %}

{% block header %}Заголовок страницы{% endblock %}

{% block content %}
    {% if is_granted('ROLE_LIST_VIEW') %}
        {% if errors_texts %}
        
            При попытке загрузки данных возникли следующие ошибки:
            {% for error_text in errors_texts %}
                <li>{{ error_text }};</li>
            {% endfor %}

        {% endif %}

        <table class="table_data">
            <tr>
                <th colspan="11">Resumes ({{ resumes|length }})</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>ФИО</th>
                <th>Обо мне</th>
                <th>Опыт работы</th>
                <th>Желаемая заработная плата</th>
                <th>Дата рождения</th>
                <th>Дата отправки резюме</th>
                <th>Выбранный город трудоустройства</th>
                <th>Выбранная вакансия</th>
                <th>Аватар</th>
                <th>Файл резюме</th>
            </tr>
            {% if resumes|length != 0 %}
                {% for resume in resumes %}
                    <tr>
                        <td>{{ resume.id }}</td>
                        <td>{{ resume.getFullName() }}</td>
                        <td>{{ resume.getAbout() ?? 'Нет информации' }}</td>
                        <td>{{ resume.getWorkExperience() }}</td>
                        <td>{{ resume.getDesiredSalary() }}</td>
                        <td>{{ resume.getBirthDate().format('d.m.Y') }}</td>
                        <td>{{ resume.getSendingDatetime().format('d.m.Y H:i:s') }}</td>
                        <td>{{ resume.getCityToWorkIn().getName() }}</td>
                        <td>{{ resume.getDesiredVacancy().getName() }}</td>
                        <td>{{ resume.getAvatar() }}</td>
                        <td>{{ resume.getFile() }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="11">Нет резюме!</td>
                </tr>
            {% endif %}
        </table>
    {% else %}
        Добро пожаловать!
    {% endif %}
{% endblock %}
