{% extends 'base.html.twig' %}

{% block title %}Заголовок страницы{% endblock %}

{% block header %}Заголовок страницы{% endblock %}

{% block content %}
    {% if errors_texts %}
    
        При попытке загрузки данных возникли следующие ошибки:
        {% for error_text in errors_texts %}
            <li>{{ error_text }};</li>
        {% endfor %}

    {% else %}

        <table class="table_data">
            <tr>
                <th colspan="2">Cities ({{ cities|length }})</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Название</th>
            </tr>
            {% if cities|length != 0 %}
                {% for city in cities %}
                    <tr>
                        <td>{{ city.id }}</td>
                        <td>{{ city.name }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">Нет городов!</td>
                </tr>
            {% endif %}
        </table>

        <table class="table_data">
            <tr>
                <th colspan="3">Vacancies ({{ vacancies|length }})</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Родитель</th>
            </tr>
            {% if vacancies|length != 0 %}
                {% for vacancy in vacancies %}
                    <tr>
                        <td>{{ vacancy.id }}</td>
                        <td>{{ vacancy.name }}</td>
                        <td>
                            {% if vacancy.parent %}
                                {{ vacancy.parent.name }}
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">Нет вакансий!</td>
                </tr>
            {% endif %}
        </table>

        
        <table class="table_data">
            <tr>
                <th colspan="1">Resumes ({{ resumes|length }})</th>
            </tr>
            <tr>
                <th>ID</th>
            </tr>
            {% if resumes|length != 0 %}
                {% for resume in resumes %}
                    <tr>
                        <td>{{ resume.id }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">Нет резюме!</td>
                </tr>
            {% endif %}
        </table>

    {% endif %}
{% endblock %}
